body{
    background-color: rgb(27, 27, 27);
    margin-right: 5%;


}
.header{
    background-color: rgb(24, 24, 24);
    position:fixed;
    top:0px;
    left:-10px;
    width:110%;
    min-height: 75px;
    border-bottom:1px solid cyan;
    z-index: 100;
}


a {
    text-decoration: none;
    border-bottom: 1px solid rgb(97, 97, 97);
    color: white;
}

#searchbar{
    position:relative;
    top:30px;
    color:white;
    border-right:35%;
    height:30px;
    min-width: 400px;
    max-width: 500px;
    background-color: rgb(97, 97, 97);
    border:none;
    border-radius: 10px;
    display:none;
    padding-left: 20px;
}
input::placeholder {
    color: rgb(255, 255, 255); 
    padding-left:1px;
}
input[type="submit"] {
    position: relative;
    float:right;
    top: 15%;
    right: 5%;
    padding: 0 10 0 10px;
    background-color: rgb(80, 80, 80);
    border:1px solid rgb(27, 27, 27);
    padding-left:10px;
    padding-right:10px;
    color:white;
    cursor:pointer;
    border-radius: 10px;
    display:none;
}
.container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    padding: 100 0 0 0px;
    gap: 25px;
    justify-content: space-evenly;
    z-index: 1;
}

.bookcard {
    display: block;
    position: relative;
    padding-bottom: 25px;
    background-color: grey;
    width: 350px;
    
    text-align: center;
}
.bookcard:hover{
    transform : scale(1.02);
    transition: transform 0.1s ;
}
.bookcard img {
    margin: 20px 0px;
    max-width: 200px;
    height: 300;
}

#message{
    font-size:20;
    position: relative;
    top:80px;
    padding: 0 0 0 25px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#read{
    position: relative;
    width:50%;
    padding:10px;
    border-radius: 10px;
    border:2px solid rgb(24, 61, 24);
    background-color:rgb(52, 159, 52);
    cursor:pointer;
}
.icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 10%;
    gap:20px;
}
.icon{
    position: relative;
    padding: 0 0 0 0px;
    top:30px;
    cursor:pointer;
    height:25px;
}
.icon:hover{
    opacity: 50%;
}
#loginbut{
    background-color: rgb(188, 188, 188);
    color:black;
    border-radius: 10px;
    border: 1px solid rgb(82, 76, 76);
    padding: 0 20 0 20px;
}
#bookmark-container{
    position: relative;
    gap: 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    top:80px;
    left:30px;
}
.marked-books{
    position: relative;
    display: flex;
    flex-wrap : nowrap;
    border-radius: 10px;
    background-color: rgb(99, 99, 99);
    align-items: center;
    padding:15 5 20 5px;
    width: 450px;
}
.marked-books img{
    border-radius: 10px;
    position:relative;
    left:20px;
    height:150px;
}
.book-detail{
    position: relative;
    align-items: unset;
    margin: 0 0 0 30px;
    background-color: transparent;
}
.book-detail h3{
    position: relative;
    background-color: transparent;
}
.book-detail button{
    position: relative;
    top:5px;
    width: 60px;
    margin:5 0 0 0px;
    border-radius: 10px;
    border: 2px solid rgb(24, 61, 24);
    background-color: rgb(52, 159, 52);
    cursor: pointer;
}
.book-detail select{
    position: relative;
    top:5px;
    width: 110px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid rgb(24, 61, 24);
    background-color: grey;
    cursor: pointer;
}

.footer{
    background-color: rgb(24, 24, 24);
    position:fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    bottom:0px;
    left:-10px;
    width:110%;
    height:5%;
    min-height: 75px;
    border-top:1px solid cyan;
    gap:5px;
    z-index: 100;
}
.pgnum{
    position: relative;
    padding: 5 10 5 10px;
    border-radius: 10px;
    background-color: rgb(80, 80, 80);
    border:1px solid rgb(27, 27, 27);
}
.currentpg{
    opacity: 50%;
    cursor:not-allowed;
}

